.container {
  width: 100%;
}

.title {
  font-size: 25px;
  margin-bottom: 15px;
}

.img_area {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
}

.container img {
  width: 100px;
  height: 150px;
  border-radius: 10px;
  display: inline-block;
}

.seeMoreButton {
  width: 100px;
  height: 150px;
  background-color: #000; /* 빈 칸의 배경색 설정 */
  border-radius: 10px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
